@import 'fonts.css';
ul,
li {
    display: block;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans';
}

.menu-bar {
    color: #212121;
    padding: 20px 0;
}

.menu__item {
    margin-left: 37px;
}

.menu__item a {
    font-family: 'Open Sans Semibold';
    font-size: 20px;
    color: #212121;
}

.menu__item a:hover {
    text-decoration: none;
    color: #868686;
}


/*header*/

.header {
    background-position: 0 100%;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 180px 0;
    background-image: url(../img/header.png);
    height: 768px;
}

.header__title {
    font-size: 55px;
}

.header__text {
    font-size: 20px;
    margin-bottom: 100px;
}

.button {
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 25px;
    margin: 0px 10px;
    color: white;
    transition: 0.3s;
    background: #00897b;
    border: 2px solid #00897b;
    cursor: pointer;
}

.button:hover {
    background: transparent;
    border: 2px solid white;
}

.button_full {
    background: #00897b;
    border: 2px solid #00897b;
}


/*About*/

.about {
    padding-top: 120px;
    padding-bottom: 125px;
    background: white;
    color: black;
    text-align: center;
}

.about__title {
    font-weight: bold;
    font-size: 30px;
}

.about__text {
    color: #212121;
    font-size: 15px;
    margin-bottom: 110px;
    margin-top: 40px;
}

.about_h3 {
    font-family: 'Open Sans Semibold';
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}


/*services*/

.services {
    padding-top: 165px;
    padding-bottom: 125px;
    background: #e4fdf9;
    color: black;
    text-align: center;
}

.our_card {
    background: white;
    padding: 50px 25px 40px;
    margin-bottom: 30px;
}

.our_card:hover {
    background: #00897b;
    cursor: pointer;
    color: white;
    transition: 0.3s ease;
    box-shadow: 2px 8px 18px -9px rgba(0, 0, 0, 0.51);
}

.our_card:hover .icon {
    color: white;
    transition: 0.3s ease;
}

.icon {
    font-size: 60px;
    color: black;
}

.button__services {
    text-transform: uppercase;
    border: 2px solid black;
    background: transparent;
    padding: 10px 12px 10px;
    font-family: 'Open Sans Semibold';
    letter-spacing: 3px;
}

.our_card:hover .button__services {
    color: white;
    transition: 0.3s ease;
    border: 2px solid white;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.58);
}


/*portfolio*/

.portfolio {
    text-align: center;
    padding: 120px 0px 135px;
}

.portfolio .button:hover,
.focused {
    background: transparent;
    color: black;
    border: 2px solid #00897b;
}

.portfolio img {
    margin-bottom: 30px;
}

.filter {
    padding: 110px 0px;
}

div[filter]:hover img {
    filter: brightness(50%);
    transition: 0.3s;
}

.text {
    display: none;
}

div[filter]:hover .text {
    display: block;
    width: 100%;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 3;
    text-align: center;
}


/*Pricing Plan*/

.pricing {
    padding-top: 165px;
    padding-bottom: 125px;
    background: #f0f1f1;
    color: black;
    text-align: center;
}

.price {
    background: white;
}

.price:hover {
    box-shadow: 2px 8px 18px -9px rgba(0, 0, 0, 0.51);
    transition: 0.3s ease;
}

.price_head {
    color: #fff;
    background-image: url(../img/pricing-bg.png);
    padding-top: 40px;
    padding-bottom: 65px;
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 211px;
    font-size: 50px;
}

.price_head p {
    font-size: 25px;
}

.price_head sup {
    font-size: 25px;
    vertical-align: middle;
}

.price_head sub {
    font-size: 17px;
}

.price_body {
    font-size: 17px;
    color: #212121;
}

.price_body ul li {
    padding-top: 28px;
    padding-bottom: 12px;
    margin: 0 auto;
    max-width: 175px;
    border-bottom: 1px solid #bfbfbf;
}

.price_footer {
    padding: 60px 0;
}

.price_footer .button__services:hover {
    background: #00897b;
    color: white;
    border: 2px solid white;
    transition: 0.3s ease;
}


/*Team*/

.team {
    padding-top: 165px;
    padding-bottom: 125px;
    background: #fff;
    color: black;
    text-align: center;
}

.team h4 {
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Open Sans Semibold';
}

.team p {
    font-size: 15px;
    margin-bottom: 30px;
}

.icons {
    display: flex;
    justify-content: center;
}

.icons a i {
    transition: 0.3s ease;
}

.icons i:nth-child(1) {
    color: #f0f1f1;
}

.icons i:nth-child(2) {
    color: #00897b;
}

.icons a:hover i:nth-child(1) {
    color: #3949ab;
}

.icons a:hover i:nth-child(2) {
    color: #fff;
}


/*blog*/

.left>div:first-child {
    order: 1;
}

.left>div:last-child {
    order: 2;
}

.right>div:first-child {
    order: 2;
}

.right>div:last-child {
    order: 1;
}

.blog a {
    font-size: 25px;
    color: #00897b;
    font-family: 'Open Sans Semibold';
}

.blog {
    text-align: left;
    margin-top: 60px;
    margin-left: 20px;
    font-family: 'Open Sans Semibold';
    color: #212121;
}

.blog span {
    font-size: 17px;
    font-family: 'Open Sans Semibold';
    margin-right: 35px;
}

.blog i {
    margin-right: 15px;
}

.blog>div {
    margin-top: 15px;
    margin-bottom: 20px;
}

.blog p {
    font-size: 15px;
}

.left,
.right {
    margin: 0 -40px;
}

.button__blog {
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 25px;
    margin: 0px 10px;
    color: white;
    transition: 0.3s;
    background: #00897b;
    border: 2px solid #00897b;
    cursor: pointer;
    margin-top: 130px;
}

.button__blog:hover {
    background: transparent;
    color: black;
    border: 2px solid #00897b;
}